{% extends "indexP.html" %}
{% load static %}

{% block title %}
Inventario de Expresión Corporal
{% endblock %}

{% block js %}
<script>
  function eliminar(codigo){
    Swal.fire({
      "title": "¿Estas seguro?",
      "text": "Esta acción no se puede deshacer",
      "icon": "question",
      "showCancelButton": true,
      "cancelButtonText": "No, Cancelar",
      "confirmButtonText": "Si, Eliminar",
      "reverseButtons": true,
      "confirmButtonColor":"#dc3545"
    })
    .then(function(result){
      if(result.isConfirmed){
        window.location.href ="/Home/Inventarios/InventarioTA/EliminarTA/"+codigo+"/"
      }
    })
  }
</script>
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-lg-12">
    <ol class="breadcrumb">
      <li><a href="{% url 'IndexView' %}"><i class="icon_house"></i> Home</a></li>
      <li><a href="{% url 'Inventarios' %}"><i class="icon_archive"></i> Inventarios</a></li>
      <li><a href="{% url 'InventarioTA' %}"><i class="icon_chat"></i> Expresión Corporal</a></li>
    </ol>
  </div>
</div>  

<div class="container py-3">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-12">
      <div class="container">
        <div class="row">
          <div class="col-sm-5">
            <p><em><h2><i class="icon_chat"></i> Inventario de Expresión Corporal</h2></em></p>
          </div>
          {% if perms.Academico.can_add_inv_danzas %}
            <div class="col-sm-6">
              <br>
              <a href="{% url 'AgregarInvTA' %}" class="btn btn-primary btn-sm"><i class="icon_folder-add"></i> Agregar</a>
              &nbsp;&nbsp;
              <a href="{% url 'Inv_TA_reportepdf' %}" class="btn btn-primary btn-sm"><i class="icon_printer-alt"></i> Imprimir Inventario</a>
            </div>
          {% else %}
            <div class="col-sm-2">
              <br>
              <a href="{% url 'Pedir_InvTA' %}" class="btn btn-primary btn-sm">Pedir</a>
            </div>
        {% endif %}
        </div>
      </div>
      <br>
      <form method="get">
        <div class="container">
          <div class="row">
            <div class="col-sm-8">
              <input class="form-control" id="exampleDataList" placeholder="Material" name="materialess">
            </div>
            <div class="col-sm-1">
              <button class="btn btn-primary" type="submit"><em>Buscar</em></button>
            </div>
          </div>
        </div>
      </form>
      <br>
      <div class="table-responsive left">
        <table class="table table-striped table-dark">
          <thead>
            <tr>
              <em><th>Codigo</th></em>
              <em><th>Material</th></em>
              <em><th>Disponible</th></em>
              <em><th>Estado</th></em>
            </tr>
          </thead>
          <tbody>
            {% for c in InvTA %}
              <tr>
                <td>{{c.codigo}}</td>
                <td>{{c.materialess}}</td>
                <td>{{c.disponible}}</td>
                <td>{{c.Estado}}</td>
                <td>
                  {% if request.user.is_authenticated %}
                    {% if perms.Academico.can_add_inv_danzas %}
                      <a href="{% url 'modificar_InvTA' c.codigo %}" class="btn btn-info btn-sm"><i class="icon_pencil-edit"></i> Editar</a>
                      &nbsp;&nbsp;
                      <a href="#" onclick="eliminar({{c.codigo}})" class="btn btn-danger btn-sm"><i class="icon_trash_alt"></i></a>
                    {% endif %}
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>          
      </div>
    </div>
  </div>       
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
{% if form.errors %}
  <script>
      Swal.fire({
        "title": "Error",
        "text": "",
        "icon": "error"
      })   
  </script>
{% endif %}

{% if messages %}
  {% for m in messages %}
    <script>
      Swal.fire({
        "title": "Felicidades",
        "text": "{{m}}",
        "icon": "success"
      })
    </script>
  {% endfor %}
{% endif %}

{% endblock %}

