{% extends "loginP.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
Restablecer contraseña
{% endblock %}

{% block content %}

<figure class="text-center">
	<div class="container-sm">
		<div class="row">
			<div class="col-sm-4">
				<img src='{% static "img/lineamorada.png" %}'/>
				<br/>
			</div>
			<div class="col-sm-4">
				<em><h3>Restablecer contraseña</h3></em>
			</div>
			<div class="col-sm-4">
				<img src='{% static "img/lineaazul.png" %}' />
				<br/>
			</div>
		</div>
	</div>
</figure>

<div class="container">
	<div class="row">
		<div class="col-sm-10">
			<p><em><h2><i class="icon_box-checked"></i> Restablecimiento de contraseña enviado</h2></em></p>
			<h4><em>Le enviamos instrucciones por correo electrónico para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó. Debería recibirlos en breve.

			Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y 	verifique su carpeta de correo no deseado.</em></h4>
			<br><br>
		</div>
	</div>
</div>





{% endblock %}

