{% extends "loginP.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
Restablecer contraseña
{% endblock %}

{% block js %}
<script type="text/javascript">

	function mostrarContraseña1(){
		var tipo = document.getElementById('id_new_password1');
		var icon = document.getElementById('boton');

		if (tipo.type == 'password') {
			tipo.type = 'text';
			tipo.class = 'icon_lock-open';
		}else {
			tipo.type = 'password';
			tipo.class = 'icon_lock';
		}
	}
	function mostrarContraseña2(){
		var tipo = document.getElementById('id_new_password2');
		var icon = document.getElementById('boton');

		if (tipo.type == 'password') {
			tipo.type = 'text';
			tipo.class = 'icon_lock-open';
		}else {
			tipo.type = 'password';
			tipo.class = 'icon_lock';
		}
	}

</script>
{% endblock %}

{% block content %}

<figure class="text-center">
	<div class="container-sm">
		<div class="row">
			<div class="col-sm-4">
				<img src='{% static "img/lineamorada.png" %}'/>
				<br/>
			</div>
			<div class="col-sm-4">
				<em><h3>Restablecer contraseña</h3></em>
			</div>
			<div class="col-sm-4">
				<img src='{% static "img/lineaazul.png" %}' />
				<br/>
			</div>
		</div>
	</div>
</figure>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>

<div class="container">
	<div class="row">
		<div class="col-sm-10">
			<p><em><h2>Escriba la nueva contraseña</h2></em></p>
			<em><h3>Por favor, ingrese su contraseña nueva dos veces para verificar que la ha escrito correctamente.</h3></em></p>
			{% if form.errors %}
              <div class="alert alert-danger d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
              <div>
                <a href="#" class="alert-link"><p><h4><em>Por favor, corrija los siguientes errores.</em></h4></p></a>
              </div>
              </div>
            {% endif %}
      		{% for field in form %}

            {% for error in field.errors %}
                <h5 class="alert alert-danger"><li>{{ error }}</li></h5>
            {% endfor %}

          	{% endfor %}
			<br>
		</div>
	</div>
</div>
<form action="" method="post">
	{% csrf_token %}

	<figure class="text-left">
		<div class="container">
			<div class="row">
  				<label for="colFormLabelLg" class="col-sm-3 col-form-label col-form-label-lg"><em><h3>Contraseña nueva:</h3></em>
  				</label>
  			<div class="col-sm-8" >
  				<div class="input-group">
  					{{form.new_password1|add_class:'form-control'|attr:'autocomplete:off'|attr:'placeholder:'}}
      				<div class="input-group-text" >
      					<i class="icon_lock" onclick="mostrarContraseña1()"></i>
      				</div>		
    			</div>    		
    		<h5><li>Su contraseña no puede asemejarse tanto a su otra información personal.</li></h5>
    		<h5><li>Su contraseña debe contener por lo menos 8 caracteres.</li></h5>
    		<h5><li>Su contraseña no puede ser una clave utilizada comúnmente.</li></h5>
    		<h5><li>Su contraseña no puede ser completamente numérica.</li></h5>
  			</div>
			</div>
		</div>
	</figure>

	<figure class="text-left">
		<div class="container">
			<div class="row">
  				<label for="colFormLabelLg" class="col-sm-3 col-form-label col-form-label-lg"><em><h3>Confirmar Contraseña nueva:</h3></em>
  				</label>
  			<div class="col-sm-8" >
  			<br>
  			<div class="input-group">
  					{{form.new_password2|add_class:'form-control'|attr:'autocomplete:off'|attr:'placeholder:'}}
      				<div class="input-group-text" >
      					<i class="icon_lock" onclick="mostrarContraseña2()"></i>
      				</div>		
    			</div>    		
  			</div>
			</div>
		</div>
	</figure>

	<figure class="text-center">
		<div class="container">
			<div class="row">
				<label for="colFormLabelLg" class="col-sm-3 col-form-label col-form-label-lg"><em><h3></h3></em></label>
  			<div class="col-sm-3">
    		<button type="submit" class="btn btn-primary btn-lg" name="Update Password"><i class="bx bx-log-in "></i>Cambiar mi contraseña</button>
  			</div>
			</div>
		</div>
	</figure>

</form>
<br>


{% endblock %}

