{% extends "loginP.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
Restablecer contraseña
{% endblock %}

{% block content %}

<figure class="text-center">
	<div class="container-sm">
		<div class="row">
			<div class="col-sm-4">
				<img src='{% static "img/lineamorada.png" %}'/>
				<br/>
			</div>
			<div class="col-sm-4">
				<em><h3>Restablecer contraseña</h3></em>
			</div>
			<div class="col-sm-4">
				<img src='{% static "img/lineaazul.png" %}' />
				<br/>
			</div>
		</div>
	</div>
</figure>

<div class="container">
	<div class="row">
		<div class="col-sm-10">
			<p><em><h2><i class="icon_box-checked"></i> Restablecimiento de contraseña completado</h2></em></p>
			<em><h4>Su contraseña ha sido establecida. Ahora puede seguir adelante e iniciar sesión.</h4></em>
			<br>
			<a class="btn btn-primary btn-lg" href="{% url 'login' %}">Iniciar Sesión</a>
		</div>
	</div>
</div>

{% endblock %}

