{% extends "loginP.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
Restablecer contraseña
{% endblock %}

{% block content %}

<figure class="text-center">
	<div class="container-sm">
		<div class="row">
			<div class="col-sm-4">
				<img src='{% static "img/lineamorada.png" %}'/>
				<br/>
			</div>
			<div class="col-sm-4">
				<em><h3>Restablecer contraseña</h3></em>
			</div>
			<div class="col-sm-4">
				<img src='{% static "img/lineaazul.png" %}' />
				<br/>
			</div>
		</div>
	</div>
</figure>

<div class="container">
	<div class="row">
		<div class="col-sm-10">
			<em><h4>¿Olvidaste tu contraseña? Ingrese su dirección de correo electrónico a continuación 	le enviaremos las instrucciones para configurar una nueva.</h4></em>
			<br>
			<form action="" method="post">
			{% csrf_token %}
			<em><h4>Correo electrónico:</h4></em>
			{{ form.email|add_class:'form-control'|attr:'autocomplete:off'|attr:'placeholder:'}}
			<br><br>
    		<button type="submit" class="btn btn-primary btn-lg" name="Send email"><i class="bx bx-log-in "></i>Restablecer mi contraseña</button>
    		&nbsp;
        	<a class="btn btn-primary btn-lg" href="{% url 'login' %}">Cancelar</a>
			</form>
			<br><br>
		</div>
	</div>
</div>




{% endblock %}

