{% extends "indexP.html" %}
{% load static %}
{% load humanize %}

{% block title %}
Nuevo Foro Musica
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-lg-12">
    <ol class="breadcrumb">
      <li><a href="{% url 'IndexView' %}"><i class="icon_house"></i> Home</a></li>
      <li><a href="{% url 'AreaPersonal' %}"><i class="social_twitter"></i> Área Social</a></li>
      <li><a href="{% url 'PostMusicass' %}"><i class="icon_headphones"></i> Foro Musica</a></li>
      <li><a href="{% url 'NewPostMusi' %}"><i class="icon_cloud"></i> Nuevo Foro Musica</a></li>
    </ol>
  </div>
</div>  

<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <p><em><h2><i class="icon_headphones"></i> Foro Musica</h2></em></p>
    </div>
  </div>
</div>
<br>

<form method="post">
  {% csrf_token %}
  <div class="card-deck">
  <div class="card" align="center">
    <div class="card-header text-white bg-light mb-3">
      <div class="container-article">
          <span class="profile-ava2"><img src="{{ user.profile.image.url }}" class="img-thumbnail"></span>
          <h2 class="username"><a href="{% url 'profile' user.username %}">@{{ user.username }}</a></h2>
      </div>
    </div> 
    <div class="card-body mb-3">
      <h3 class="card-text">
        <p align="left">
          {{ form.content }}
          <br><br>
          <button class="btn btn-info btn-lg" type="submit" class="post" id="" ><i class="icon_cloud"></i> Subir</button>
          <a class="btn btn-info btn-lg" href="{% url 'PostMusicass' %}">Cancelar</a>
        </p>
      </h3>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
</div>
</form>


{% endblock %}

